<h1>Teams</h1>
<table class="teamDetails">
<% @teams.each do |team| %>
<tr>
<td>
<div class="image">
<%= link_to (image_tag team.image, :style => "height:100px"), team %>
</div>
</td>
<td>
<div class="name">
<%= link_to team.name, team %>
</div>
<div class="description">
<%=h team.description %>
</div>
<div class="quarterback">
<%=h team.quarterback %>
</div>
<div class="pf">
<%=h team.pf %>
</div>
<div class="pa">
<%=h team.pa %>
</div>
<div class="home">
<%=h team.home %>
</div>
<div class="away">
<%=h team.away %>
</div>
<div class="links">
<%= link_to 'Edit', edit_team_path(team) %> |
<%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %>
</div>
</td>
</tr>
<% end %>
</table>
<p><%= link_to 'New team', new_team_path %></p>
