<h1>Teams</h1>
<table class="teamDetails">
<% @teams.each do |team| %>
<tr>
<td>
<div class="image">
<%= link_to (image_tag team.image, :style => "height:100px"), team %>
</div>
</td>
<td>
<div class="name">
<%= link_to team.name, team %>
</div>
<div class="description">
<%=h team.wins %> - <%=h team.losses %>
</div>
<div class="description">
<%=h team.description %>
</div>
<div class="quarterback">
QB1: <%=h team.quarterback %>
</div>
<div class="pf">
Points per game: <%=h team.pf %>
</div>
<div class="pa">
Points allowed per game: <%=h team.pa %>
</div>
<div class="home">
Home Wins: <%=h team.home %>
</div>
<div class="away">
Road Wins: <%=h team.away %>
</div>
<div class="links">
<% if current_user.admin? %>
<%= link_to 'Edit', edit_team_path(team) %> |
<%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</div>
</td>
</tr>
<% end %>
</table>
<% if current_user.admin? %>
<p><%= link_to 'New team', new_team_path %></p>
<% end %>
