<h1>Listing predictions</h1>

<table>
  <tr>
    <th>Homeprediction</th>
    <th>Roadprediction</th>
    <th>User</th>
    <th>Game</th>
    <th>Success</th>
    <th>Difference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @predictions.each do |prediction| %>
  <tr>
    <td><%= prediction.homePrediction %></td>
    <td><%= prediction.roadPrediction %></td>
    <td><%= prediction.user.email %></td>
    <td><%= prediction.game.name %></td>
    <td><%= prediction.success %></td>
    <td><%= prediction.difference %></td>
  </tr>
  <tr>
    <td><%= link_to 'Show', prediction %></td>
    <td><%= link_to 'Edit', edit_prediction_path(prediction) %></td>
    <td><%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <tr></tr>
<% end %>
</table>

<br />

<%= link_to 'New Prediction', new_prediction_path %>
