<p id="notice"><%= notice %></p>

<p>
  <b>Team1:</b>
  <%= @predict.team1 %>
</p>

<p>
  <b>Team2:</b>
  <%= @predict.team2 %>
</p>


<%= link_to 'Edit', edit_predict_path(@predict) %> |
<%= link_to 'Back', predicts_path %>
